@font-face {
font-family: 'CenturyGothic';
src: url(../fonts/CenturyGothic.ttf) format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'CenturyGothic';
src: url(../fonts/CenturyGothic-Italic.ttf) format('truetype');
font-weight: normal;
font-style: italic;
}

@font-face {
font-family: 'CenturyGothic';
src: url(../fonts/CenturyGothic-Bold.ttf) format('truetype');
font-weight: bold;
font-style: normal;
}

@font-face {
font-family: 'Lato';
src: url(../fonts/Lato-Regular.ttf) format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'CenturyGothic';
src: url(../fonts/Lato-Bold.ttf) format('truetype');
font-weight: 700;
font-style: normal;
}

body {
	width: 2551px;
	background-color: #fff;
	font: 35px "CenturyGothic", Helvetica, Arial, sans-serif;
	color: rgb(66,66,67);
	margin: 0 auto;
	padding: 0;
}

.wrapper  {
	margin: 200px 145px 0 145px;
}

.header__my-name {
	font-size: 91px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.header__my-prof {
	font-size: 50px;
	margin: 0;
	padding: 0;
}

.my-data {
	font-size: 31px;
	color: #cacaca;
	margin-top: 55px;
}

.my-data__contacts{
	list-style: none;
	padding-left: 0;
	margin: 0;
}

.contacts__contact {
	display: inline-block;
	border-right: 5px solid #cacaca;
	padding: 0 20px;
}

.contacts__contact:last-child{
	border-right: none;
}

.contacts__contact:first-child{
	padding-left: 0;
}

.main {
	margin: 190px 0 120px 0;
}

.column {
	display: inline-block;
	width: 780px;
}

.column__photo {
	margin: 0 auto 20px auto;
	display: block;
}

.heading {
	display: inline-block;
    min-width: 220px;	
	background-color: #e8c734;
	font-size: 41px;
	vertical-align: middle;
	box-sizing: border-box;
	padding: 10px 40px;
	margin: 50px 0 0 0;
}

.skills{
	margin-top: 60px;;
}

.skills__skill{
	font-size: 31px;
	margin-top: 30px;;
}

.ability__chart-e {
	height: 25px;
	width: 620px;
	border: 5px solid #e4e4e5;
	margin-top: 13px;
}

.ability__chart-f {
	height: 25px;
	background-color: #bbbcbe;
}

.ability__chart_all_x {
	width: 500px;
}

.ability__chart_all_d {
	width: 430px;
}

.ability__chart_all_n {
	width: 370px;
}

.main-content {
	display: inline-block;
	box-sizing: border-box;
	max-width: 1471px;
	margin: 0;
	vertical-align: top;
}

.heading{
	margin: 0;
}


.about-me {
	padding: 0;
	margin: 0 0 45px 0;
}

.about-me__text {
	font-size: 33px;
	margin-top: 50px;
	line-height: 56px;
}

.I-am, .edu__information_spec{
	font-weight: 700;
}

.edu {
	margin-top: 80px;
}

.edu__date {
	display: inline-block;
	vertical-align: top;
	width: 370px;
	font-weight: bold;
	color:  #808183;
}

.edu__information {
	display: inline-block;
}

.experience{
	margin-top: 60px;	
	margin-bottom: 100px;
}

.experience__date {
	margin: 20px 0 35px 0;
	font-style: italic;
	color: #b6b6b6;
}

.experience__position {
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 35px;
}

.experience__description{
	margin-top: 40px;
	font-size: 31px;
	color: #cacaca;
}

.reference {
	margin-top: 80px;
}

.ref-data {
	display: inline-block;
	min-width: 480px;
}

.ref-data_first{
	margin-right: 400px;
}

.ref-data__name {
	margin: 30px 0 0 0;
	font: 39px "Lato", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.ref-data__at {
	font-size: 31px;
	color: #cacaca;
	padding: 0;
}

.footer {
	background-color: #e8c734;
	height: 70px;
}