@font-face {
font-family: 'CenturyGothic';
src: url(../fonts/CenturyGothic.ttf) format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'CenturyGothic';
src: url(../fonts/CenturyGothic-Italic.ttf) format('truetype');
font-weight: normal;
font-style: italic;
}

@font-face {
font-family: 'CenturyGothic';
src: url(../fonts/CenturyGothic-Bold.ttf) format('truetype');
font-weight: bold;
font-style: normal;
}

@font-face {
font-family: 'Lato';
src: url(../fonts/Lato-Regular.ttf) format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'CenturyGothic';
src: url(../fonts/Lato-Bold.ttf) format('truetype');
font-weight: bold;
font-style: normal;
}

body {
	width: 2551px;
	background-color: #fff;
	font: 35px "CenturyGothic", Helvetica, Arial, sans-serif;
	color: rgb(66,66,67);
	margin: 0;
	padding: 0;
}

.wrapper  {
	margin: 200px 145px 0 145px;
}

h1 {
	font-size: 91px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 50px;
	margin: 0;
	padding: 0;
}

.my-data {
	font-size: 31px;
	color: rgba(66,66,67,0.5);
	margin-top: 55px;
}

ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

li {
	display: inline-block;
	border-right: 5px solid rgba(66,66,67,0.5);
	padding: 0 20px;
}

li:last-child{
	border-right: none;
}

li:first-child{
	padding-left: 0;
}

main {
	margin: 190px 0 120px 0;
}

aside {
	display: inline-block;
	width: 780px;
}

.photo {
	margin: 0 auto 20px auto;
	display: block;
}

h3 {
	display: inline-block;
    min-width: 220px;	
	background-color: #e8c734;
	font-size: 41px;
	vertical-align: middle;
	box-sizing: border-box;
	padding: 10px 40px;
	margin: 50px 0 0 0;
}

aside p {
	font-size: 31px;
}

.chart {
	padding: 15px 0 0px 0;
}

article {
	display: inline-block;
	box-sizing: border-box;
	max-width: 1471px;
	margin: 0;
	vertical-align: top;
	font-size: 35px;
}

article h3:first-child{
	margin-top: 0;
}

article h3 {
	padding: 10px 40px;
}

.about-me {
	font-size: 33px;
	margin-bottom:0;
	line-height: 56px;
}

span {
	font-weight: bold;
}

.edu-date {
	display: inline-block;
	width: 370px;
	vertical-align: top;
	font-weight: bold;
	color:  #808183;
}

.information {
	display: inline-block;
	width: 1091px;
}

.experience-date {
	font-style: italic;
	color: rgba(66,66,67,0.5);
	margin-top: 70px;
}

.work-position {
	font-weight: bold;
	margin: 0;
}

.discription{
	font-size: 31px;
	color: rgba(66,66,67,0.5);
}

.reference {
	margin-top: 80px;
}

.reference-data1 {
	display: inline-block;
	min-width: 600px;
}
.reference-data2 {
	display: inline-block;
	float: right;
	min-width: 600px;
}

h4 {
	margin: 30px 0 0 0;
	font: 39px "Lato", Helvetica, Arial, sans-serif;
	font-weight: bold;
}

.reference-data-com {
	margin: 0;
}

.reference-data-at {
	font-size: 31px;
	color: rgba(66,66,67,0.5);
	margin: 0;
}

footer {
	background-color: #e8c734;
	height: 70px;
}